@media screen and (max-width:576px) {
    /* Banner */
    .banner-container {
        flex-direction: column-reverse;
    }
    .banner-img {
        width: 75%;
    }
    .banner-content {
        margin-top: 35px;
    }
    .banner-img img {
        width: 100%;
    }
    /* nav */
    .nav-container {
        flex-direction: column;
        width: 100%;
        padding: 8px 0;
    }

    .nav-items ul {
        flex-direction: column;
    }

    /* online game */
    .online-game-container {
        margin-top: 55px;
    }

    .online-game-header,
    .online-funny-video {
        font-size: 18px;
    }

    .online-content {
        font-size: 12px;
    }

    .online-box-container {
        grid-template-columns: 1fr;
    }

    .online-img {
        width: 75%;
        margin: 18px auto 18px;
        text-align: center;
    }

    .online-img img {
        width: 100%;
    }

    /* Instant play */
    .play-container {
        flex-direction: column-reverse;
    }

    .play-images {
        width: 65%;
    }

    .play-image1 img {
        width: 100%;
    }

    .play-content {
        text-align: center;
        margin: 0;
        padding: 30px;
    }

    /* More games */
    .games-category {
        width: 130px;
        font-size: 6px;
        align-items: start;
    }

    .action-button {
        border: none;
        margin-right: 8px;
        margin-top: 8px;
    }

    /* footer */
    .footer-container {
        padding: 25px 0 35px;
    }

    .footer-services {
        grid-template-columns: repeat(3, 1fr);
    }

    .footer-item {
        padding-left: 18px;
        margin-top: 18px;
    
    }

    .footer-btn {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .footer-terms-cookies {
        flex-direction: column;
    }
}

/*tablet*/
@media screen and (min-width:576px) and (max-width:992px) {
    .nav-container {
        flex-direction: column;
    }

    .banner-container {
        flex-direction: column-reverse;
    }

    .banner-content {
        margin-top: 40px;
    }

    .banner-img {
        width: 80%;
    }

    .banner-img img {
        width: 100%;
    }

    /* online game */
    .online-box-container {
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
    }

    .online-img {
        width: 75%;
        margin: 18px auto 0px;
    }

    .online-game-container {
        margin-top: 65px;
    }

    /* play games */
    .play-container {
        flex-direction: column-reverse;
        text-align: center;
    }

    .play-images {
        width: 65%;
        margin-right: 0;
        margin: auto;
        

    }
    .play-image2 img{
        right: 60%;
        bottom: -10%;
    }

    .play-image1 img {
        width: 100%;
    }

    .play-content {
        text-align: center;
        margin: 0;
        padding: 30px;
    }

    /* footer */
    .footer-container {
        padding: 30px 0 40px;
    }

    .footer-services {
        grid-template-columns: repeat(3, 1fr);
    }

    .footer-item {
        margin-top: 20px;
        padding-left: 20px;
    }

    .footer-btn {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .footer-terms-cookies {
        flex-direction: column;
    }
}